
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.pytest_cache/
htmlcov/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ignore migrations, but keep init
*/migrations/*.py
!*/migrations/__init__.py
*/migrations/__pycache__/

# dotenv
.env
.env.*

# Virtualenv
venv/
ENV/
env/
.venv/
venv.bak/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/
*.iml

# project-specific
.ropeproject/

# celery
celerybeat-schedule
celerybeat.pid

# backups and temp
*~
*.swp
*.swo
