/* header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 99999999999999;
} */

.navbar-top{
    background: linear-gradient(to right, var(--primary), var(--accent));
    color: var(--white);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.main-navbar-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 0 auto;
   padding: 20px 0;
}

.main-navbar-top .logo h1{
    font-size: 25px;
    font-weight: 700;
    /* color: var(--primary); */
    background: linear-gradient(to right, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-navbar-top .logo p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    color: var(--muted-foreground);
}

.main-navbar-top button{
    background-color: var(--primary);
    color: var(--accent-foreground);
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-navbar-top button:hover{
    background-color: var(--accent);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.main-nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    list-style-type: none;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.main-nav .nav-link{
    text-decoration: none;
    color: var(--foreground);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-nav .nav-link:hover{
    background-color: var(--primary);
    color: var(--accent-foreground);
}